debug {
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-top: 0;
    background: #f5f5f5;
    border: 1px solid #f1f1f1;
    font-style: italic;

    table {
        > thead {
            th {
                text-align: left;
                font-weight: bold;
                padding-right: 16px;
            }
        }
        > tbody {
            td {
                padding-right: 16px;
            }
        }
    }
}
