<section>
    <h3 class="md-headline">
		Chips
	</h3>
    <md-button class="md-primary md-link" ng-href="https://material.angularjs.org/1.0.6/demo/chips">
		Go to Material Design official page
	</md-button>
</section>
<section ng-repeat="element in vm.elements">
    <form name="{{ element.form }}" ng-submit="vm.onSubmit(element.form)">
        <h3 class="md-subhead">
            {{ element.title }}
            <small>
                {{ element.description }}
            </small>
        </h3>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- Example Tab -->
                    <md-tab label="Example">
                        <md-content>
                            <div class='example md-padding'>
                                <formly-form model="element.model" fields="element.field" options="element.options">
                                    <md-button type='submit' class="md-primary md-raised">
                                        Submit
                                    </md-button>
                                </formly-form>
                            </div>
                        </md-content>
                    </md-tab>

                    <!-- JS -->
                    <md-tab label="JS" ng-if="element.js"><md-content><pre><code>{{ element.js }}</code></pre></md-content></md-tab>

                </md-tabs>
            </md-content>
        </div>
    </form>
</section>
