<form name="{{vm.form}}" ng-submit="vm.TodoFormService.submit('{{vm.form}}')">
    <div class="messages {{result.type}}" ng-class="{'error': result.error}">
        {{result.reason}}

        <p ng-repeat="message in result.messages" ng-if="result.messages">
            {{message}}
        </p>
    </div>
    <formly-form model="vm.TodoFormService.model" fields="vm.fields" options="vm.TodoFormService.options">
        <!--
        <md-button class="md-raised md-primary" type='submit' aria-label="submit" ng-show="!vm.model._id">
            Create
        </md-button>
        <md-button class="md-raised md-primary" type='submit' aria-label="submit" ng-show="vm.model._id">
            Update
        </md-button>
        <md-button class="md-primary" ng-click="vm.Reset()" aria-label="submit" ng-show="vm.model._id">
            Cancel
        </md-button>
        -->
        <ng-transclude></ng-transclude>
    </formly-form>
    <div class="model md-actions" ng-if="vm.debug === true">
        <pre>
            <code ng-bind-html="vm.TodoFormService.model | highlight | unsafe"></code>
        </pre>
    </div>
</form>
