<md-content class="md-padding">
    <form name="{{vm.form}}" ng-submit="vm.onSubmit('{{vm.form}}')" options="vm.options">
    	<section>
            <h3 class="md-headline">
                Examples of encrypt
                <small>
                    Encrypt some mongo fields
                </small>
            </h3>
            <div ng-cloak>
                <md-content style="width: 700px;">
                    <formly-form model="vm.model" fields="vm.fields" options="vm.options"></formly-form>
                </md-content>
            </div>
        </section>
    </form>
    <section>
        <div>
            <p>
                <label>
                    Form value:
                    <input ng-model="vm.myModel" encrypted-model="vm.key" style="width: 100%">
                </label>
            </p>
            <p>
                <label>
                    Encrypted value:
                    <input readonly="readonly" ng-model="vm.myModel" style="width: 100%">
                </label>
            </p>
            <p>
                Decrypted value: {{ vm.myModel | decrypt:vm.key }}
            </p>
            <p>
                Decrypting contant value <em>'My secret text'</em>: <br/>
                {{ 'U2FsdGVkX1+u2ptbxWVPoRdMv98yBDgp3L8cVTP8Dh4=' | decrypt:vm.key }}
            </p>

        </div>
    </section>
</md-content>
