<!--
<div id="loading-bar-container" style="position: fixed; z-index: 99999; top: 0; width: 100%; height: 10px;"></div>
-->
<md-progress-linear
    ng-if="vm.preloaderService.loading === true"
    md-mode="indeterminate"
></md-progress-linear>
<div>
    <!-- Sidenav -->
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="meteor-primary">
            <div class="md-toolbar-tools">
                <h3>
                    <span>
                        {{vm.currentUser.profile.lastName}} {{vm.currentUser.profile.firstName}}
                    </span>
                </h3>
                <span flex></span>
                <!--
                <md-button style="text-transform: none;">
                    <p style="display: flex; align-items: center;">
                        <i class="zmdi zmdi-account-circle zmdi-hc-2x"></i>
                        &nbsp;
                        {{vm.currentUser.profile.lastName}}
                        {{vm.currentUser.profile.firstName}}
                    </p>
                </md-button>
                <md-button class="icon-button">
                    <p>
                        <i class="zmdi zmdi-comment-outline zmdi-hc-lg"></i>
                    </p>
                </md-button>
                -->
                <md-button class="md-icon-button" ng-click="vm.logout()">
                    <i class="zmdi zmdi-power zmdi-hc-lg"></i>
                </md-button>
            </div>
        </md-toolbar>
        <simple-navigation data="vm.navigationApp"></simple-navigation>
    </md-sidenav>

    <!-- Content -->
    <div flex layout="row" layout-fill>

        <!-- Primary navigation -->
        <div layout="column" class="navigation">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click='vm.sidenav.left.open()' aria-label='Choose workspace' title='Choose workspace'>
                        <i class="zmdi zmdi-menu"></i>
                    </md-button>
                    <h3>
                        <span>
                            {{vm.simpleNavigation["workspaces"].selected.name}}
                        </span>
                    </h3>
                </div>
            </md-toolbar>
            <simple-navigation
                id = "app"
                class = "navigation"
                data = "vm.navigationWorkspaces"
            ></simple-navigation>
        </div>


        <div flex layout="column">
            <!--
            <app-toolbar></app-toolbar>-->
            <!--
            -->
            <ui-view></ui-view>
        </div>
        <!--
        <simple-chat></simple-chat>
        -->
    </div>
</div>
