<section>
	<h3 class="md-headline">
		Select
	</h3>
    <md-button class="md-primary md-link" ng-href="https://material.angularjs.org/1.0.6/demo/select">
		Go to Material Design official page
	</md-button>
	<div>
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom>

                <!-- Parameters Tab -->
                <md-tab label="Parameters">
                  <md-content>
                    <div class='example'>
                        <table class='parameters'>
                            <thead>
                                <tr>
                                    <th>templateOptions</th>
                                    <th>Type</th>
                                    <th>defaultValue</th>
                                    <th>Directive</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>groups</td>
                                    <td>Array</td>
                                    <td></td>
                                    <td></td>
                                    <td>Select option list in groups.</td>
                                </tr>
                                <tr>
                                    <td>mdContainerClass</td>
                                    <td>String</td>
                                    <td></td>
                                    <td>md-container-class</td>
                                    <td>Class list to get applied to the .md-select-menu-container element (for custom styling).</td>
                                </tr>
                                <tr>
                                    <td>mdOnClose</td>
                                    <td>Function</td>
                                    <td></td>
                                    <td>md-on-close</td>
                                    <td>Expression to be evaluated when the select is closed.</td>
                                </tr>
                                <tr>
                                    <td>mdOnOpen</td>
                                    <td>Function</td>
                                    <td></td>
                                    <td>md-on-open</td>
                                    <td>Expression to be evaluated when opening the select. Will hide the select options and show a spinner until the evaluated promise resolves.</td>
                                </tr>
                                <tr>
                                    <td>options</td>
                                    <td>Array</td>
                                    <td></td>
                                    <td></td>
                                    <td>Select option list.</td>
                                </tr>
                                <tr>
                                    <td>placeholder</td>
                                    <td>string</td>
                                    <td></td>
                                    <td></td>
                                    <td>Placeholder hint text.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </md-content>
                </md-tab>

                <!-- GROUPS -->
                <md-tab label="OPTIONS IN GROUP">
					<md-content>
                        <table class='parameters'>
                            <thead>
                                <tr>
                                    <th>templateOptions</th>
                                    <th>Key</th>
                                    <th>Type</th>
                                    <th>Directive</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3">options</td>
                                    <td>className</td>
                                    <td>String</td>
                                    <td></td>
                                    <td>Group class.</td>
                                </tr>
                                <tr>
                                    <td>label</td>
                                    <td>String</td>
                                    <td></td>
                                    <td>Group label.</td>
                                </tr>
                                <tr>
                                    <td>options</td>
                                    <td>Array</td>
                                    <td></td>
                                    <td>Select options in group.</td>
                                </tr>
                            </tbody>
                        </table>
					</md-content>
				</md-tab>


                <!-- OPTIONS -->
                <md-tab label="Options">
					<md-content>
                        <table class='parameters'>
                            <thead>
                                <tr>
                                    <th>templateOptions</th>
                                    <th>Key</th>
                                    <th>Type</th>
                                    <th>Directive</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="8">options</td>
                                    <td>className</td>
                                    <td>String</td>
                                    <td>class</td>
                                    <td>Option class.</td>
                                </tr>
                                <tr>
                                    <td>disabled</td>
                                    <td>Boolean</td>
                                    <td>ng-disabled</td>
                                    <td>Option class is disabled.</td>
                                </tr>
                                <tr>
                                    <td>name</td>
                                    <td>String</td>
                                    <td></td>
                                    <td>Select option name.</td>
                                </tr>
                                <tr>
                                    <td>ngDisabled</td>
                                    <td>Boolean</td>
                                    <td>ng-disabled</td>
                                    <td>Option class is disabled.</td>
                                </tr>
                                <tr>
                                    <td>ngClick</td>
                                    <td>Function(options, model)</td>
                                    <td>ng-click</td>
                                    <td>Option class click.</td>
                                </tr>
                                <tr>
                                    <td>ngClass</td>
                                    <td>Function(options, model)</td>
                                    <td>ng-class</td>
                                    <td>Option change class.</td>
                                </tr>
                                <tr>
                                    <td>ngValue</td>
                                    <td>Expression</td>
                                    <td>ng-value</td>
                                    <td>Select option model value.</td>
                                </tr>
                                <tr>
                                    <td>value</td>
                                    <td>Expression</td>
                                    <td>ng-value</td>
                                    <td>Select option model value.</td>
                                </tr>
                            </tbody>
                        </table>
					</md-content>
				</md-tab>


            </md-tabs>
		</md-content>
	</div>
</section>
<section ng-repeat="element in vm.elements">
    <form name="{{ element.form }}" ng-submit="vm.onSubmit(element.form)">
        <h3 class="md-subhead">
            {{ element.title }}
            <small>
                {{ element.description }}
            </small>
        </h3>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- Example Tab -->
                    <md-tab label="Example">
                        <md-content>
                            <div class='example md-padding'>
                                <formly-form model="element.model" fields="element.field" options="element.options">
                                    <md-button type='submit' class="md-primary md-raised">
                                        Submit
                                    </md-button>
                                </formly-form>
                            </div>
                        </md-content>
                    </md-tab>

                    <!-- JS -->
                    <md-tab label="JS" ng-if="element.js"><md-content><pre><code>{{ element.js }}</code></pre></md-content></md-tab>

                </md-tabs>
            </md-content>
        </div>
    </form>
</section>
