<md-content>
    <chat-preloader ng-if="vm.loading"></chat-preloader>
    <md-list ng-if="!vm.loading">
        <md-list-item>
            <chat-messages-limit increase-limit="{{::vm.increaseLimit}}" increase-type="{{::vm.increaseType}}" on-change="vm.onLimitChange(limit)"></chat-messages-limit>
        </md-list-item>
        <chat-message-channel message="message" on-read="vm.onRead(messageId)" ng-repeat="message in vm.messages track by message._id"></chat-message-channel>
    </md-list>
</md-content>
<ng-transclude></ng-transclude>
