
<section>
	<h3 class="md-headline">
		Input
		<!--
		<small>
			Angular material design input with angular-formly and wieldo form types
		</small>
	-->
	</h3>
	<md-button class="md-primary md-link" ng-href="https://material.angularjs.org/1.0.6/demo/input">
		Go to Material Design official page
	</md-button>
	<div>

		<md-content>
			<table class='parameters'>
				<thead>
					<tr>
						<th>templateOptions</th>
						<th>Type</th>
						<th>defaultValue</th>
						<th>Directive</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>label</td>
						<td>String</td>
						<td></td>
						<td></td>
						<td>label of specified input</td>
					</tr>
					<tr>
						<td>max</td>
						<td>Number</td>
						<td></td>
						<td></td>
						<td>maximum integer value</td>
					</tr>
					<tr>
						<td>mdMaxlength</td>
						<td>Number</td>
						<td></td>
						<td>md-maxlength</td>
						<td>Init input maximum character length counter</td>
					</tr>
					<tr>
						<td>min</td>
						<td>Number</td>
						<td></td>
						<td></td>
						<td>minimum integer value</td>
					</tr>
					<tr>
						<td>ngRequired</td>
						<td>Boolean</td>
						<td></td>
						<td>ng-required</td>
						<td>Whether a value is required for the input.</td>
					</tr>
					<tr>
						<td>maxlength</td>
						<td>Number</td>
						<td></td>
						<td></td>
						<td>Maximum characters length.</td>
					</tr>
					<tr>
						<td>minlength</td>
						<td>Number</td>
						<td></td>
						<td></td>
						<td>Minimum characters length.</td>
					</tr>
					<tr>
						<td>mdDetectHidden</td>
						<td>Boolean</td>
						<td></td>
						<td>md-detect-hidden</td>
						<td></td>
					</tr>
					<tr>
						<td>mdNoAutogrow</td>
						<td>Boolean</td>
						<td></td>
						<td>md-no-autogrow</td>
						<td></td>
					</tr>
					<tr>
						<td>ngPattern</td>
						<td>String</td>
						<td></td>
						<td>pattern</td>
						<td></td>
					</tr>
					<tr>
						<td>pattern</td>
						<td>String</td>
						<td></td>
						<td>ng-pattern</td>
						<td></td>
					</tr>
					<tr>
						<td>placeholder</td>
						<td>String</td>
						<td></td>
						<td></td>
						<td>The input placeholder value.</td>
					</tr>
					<tr>
						<td>readonly</td>
						<td>Boolean</td>
						<td></td>
						<td></td>
						<td>Input is readonly.</td>
					</tr>
					<tr>
						<td>required</td>
						<td>Boolean</td>
						<td></td>
						<td>ng-required</td>
						<td>Whether a value is required for the input.</td>
					</tr>
					<tr>
						<td>step</td>
						<td>Number</td>
						<td></td>
						<td></td>
						<td>Step integer value</td>
					</tr>
					<tr>
						<td>type</td>
						<td>String</td>
						<td><i>text</i></td>
						<td></td>
						<td>Type of input field</td>
					</tr>
				</tbody>
			</table>
		</md-content>
	</div>
</section>
<form name="vm.form" ng-submit="vm.onSubmit()" options="vm.options">
	<section ng-repeat="element in vm.elements">
		<h3 class="md-subhead">
  	    {{ element.title }}
  	    <small>
			{{ element.description }}
  	    </small>
  	  </h3>
  	  <div ng-cloak>
		  <md-content>
              <md-tabs md-dynamic-height md-border-bottom>

    	        <!-- Example Tab -->
    	        <md-tab label="Example">
                    <md-content>
                        <div class='example'>
          	                <formly-form model="vm.model" fields="element.field" options="vm.options"></formly-form>
          	            </div>
      	          </md-content>
    	        </md-tab>

    	        <!-- JS -->
    	        <md-tab label="JS" ng-if="element.js"><md-content><pre><code>{{ element.js }}</code></pre></md-content></md-tab>

    	      </md-tabs>
          </md-content>
  	  </div>
	</section>
</form>
