<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
	<md-toolbar>
		<h1 class="md-toolbar-tools">
            Navigation
        </h1>
  </md-toolbar>
	<md-content>
		<md-list flex>
			<md-list-item link="Dashboard" ng-click="click()" ui-sref="app.dashboard" ui-sref-active="active"><p>Dashboard</p></md-list-item>
			<md-list-item link="Chat" ng-click="click()" ui-sref='app.chat' ui-sref-active="active"><p>Chat</p></md-list-item>
			<md-list-item link="Crypto" ng-click="click()" ui-sref='app.crypto' ui-sref-active="active"><p>Crypto</p></md-list-item>
            <md-list-item link="Forms" ng-click="click()" ui-sref='app.forms' ui-sref-active="active"><p>Formly forms</p></md-list-item>
			<md-list-item link="To do" ng-click="click()" ui-sref='app.todo' ui-sref-active="active"><p>Todo</p></md-list-item>
			<md-list-item link="Translates" ng-click="click()" ui-sref='app.translates' ng-disabled="true" ui-sref-active="active"><p>Translates</p></md-list-item>
			<md-list-item link="Users" ng-click="click()" ui-sref='app.users' ng-disabled="true" ui-sref-active="active"><p>Users</p></md-list-item>
		</md-list>
	</md-content>
</md-sidenav>
