<md-content class="navigation_holder">
    <div ng-if="!vm.navigation.options[0].items">
        <!-- OPTIONS HEADER -->
        <md-subheader ng-if="vm.navigation.header">
            {{vm.navigation.header}}
        </md-subheader>

        <!-- MENU OPTIONS -->
        <ul>
            <li
                ng-repeat   = "option in vm.navigation.options"
                ng-init     = "optionIndex = $index"
                ng-class    = "[{active: (vm.navigation.selected.optionIndex == optionIndex)}]"
                ng-if       = "option.hidden === false"
            >
                <md-button
                    ui-sref     = "{{option.uisref}}"
                    ng-click    = "option.ngclick ? option.ngclick($event) : option.select()"
                    aria-label  = "{{vm.navigation.options[option_index].ariaLabel}}"
                    ng-disabled = "vm.navigation.options[option_index].ngDisabled"
                >
                    <i ng-if='option.icon' class='{{option.icon}}'></i>
                    {{option.name}}
                </md-button>
            </li>
        </ul>
    </div>
    <div
        ng-if       = "vm.navigation.options[0].items"
        ng-repeat   = "option in vm.navigation.options"
        ng-init     = "optionIndex = $index"
    >
        <!-- OPTIONS HEADER -->
        <md-subheader>
            {{option.header}}
        </md-subheader>
        <!-- MENU OPTIONS -->
        <ul>
            <li
                ng-repeat   = "item in option.items"
                ng-init     = "itemIndex = $index"
                ng-class    = "[{active: (vm.navigation.selected.optionIndex == optionIndex && vm.navigation.selected.itemIndex == itemIndex)}]"
                ng-if       = "item.hidden !== true"
            >
                <md-button
                    ui-sref     = "{{vm.navigation.options[optionIndex].items[itemIndex].uisref}}"
                    ng-click    = "item.ngclick ? item.ngclick() : item.select()"
                    aria-label  = "{{item.ariaLabel}}"
                    ng-disabled = "vm.navigation.options[optionIndex].items[itemIndex].ngDisabled"
                >
                    <i ng-if='item.icon' class='{{vm.navigation.options[optionIndex].items[itemIndex].icon}}'></i>
                    {{vm.navigation.options[optionIndex].items[itemIndex].name}}
                </md-button>
            </li>
        </ul>
    </div>
</md-content>
