<md-list-item
  class="md-3-line"
  id="chat-message-{{::vm.message._id}}"
  ng-style="!vm.me && {'background': '##f1f1f1'}">
  <div class="md-list-item-text" layout="column">
    <chat-message-author author="vm.message.author"></chat-message-author>
    <h4>
      {{::vm.message.createdAt | date : 'medium'}} -
      <chat-message-read-at when="vm.message.readAt"></chat-message-read-at>
    </h4>
    <chat-message-text text="vm.message.text"></chat-message-text>
  </div>
</md-list-item>
<ng-transclude></ng-transclude>
