<section>
	<h3 class="md-headline">
		Select birthday
	</h3>
	<div>
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom>
                <!-- Parameters Tab -->
                <md-tab label="Parameters">
                  <md-content>
                    <div class='example'>
                        <table class='parameters'>
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>select-day</td>
                                    <td>Select with days.</td>
                                </tr>
                                <tr>
                                    <td>select-month</td>
                                    <td>Select with months.</td>
                                </tr>
                                <tr>
                                    <td>select-year</td>
                                    <td>Select with years.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </md-content>
                </md-tab>
            </md-tabs>
		</md-content>
	</div>
</section>
<section ng-repeat="element in vm.elements">
    <form name="{{ element.form }}" ng-submit="vm.onSubmit(element.form)">
        <h3 class="md-subhead">
            {{ element.title }}
            <small>
                {{ element.description }}
            </small>
        </h3>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- Example Tab -->
                    <md-tab label="Example">
                        <md-content>
                            <div class='example md-padding'>
                                <formly-form model="vm.model" fields="element.field" options="vm.options">
                                    <select-birthday model="vm.model"></select-birthday>
                                    <md-button type='submit' class="md-primary md-raised">
                                        Submit
                                    </md-button>
                                </formly-form>
                            </div>
                        </md-content>
                    </md-tab>

                    <!-- JS -->
                    <md-tab label="JS" ng-if="element.js"><md-content><pre><code>{{ element.js }}</code></pre></md-content></md-tab>

                </md-tabs>
            </md-content>
        </div>
    </form>
</section>
