<section>
	<h3 class="md-headline">
		Slider
	</h3>
    <md-button class="md-primary md-link" ng-href="https://material.angularjs.org/1.0.6/demo/slider">
		Go to Material Design official page
	</md-button>
	<div>
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom>

                <!-- Parameters Tab -->
                <md-tab label="Parameters">
                  <md-content>
                    <div class="example">
                        <table class="parameters">
                            <thead>
                                <tr>
                                    <th>templateOptions</th>
                                    <th>Type</th>
                                    <th>defaultValue</th>
                                    <th>Directive</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>max</td>
                                    <td>Number</td>
                                    <td></td>
                                    <td></td>
                                    <td>The maximum value the user is allowed to pick. Default 100.</td>
                                </tr>
                                <tr>
                                    <td>mdDiscrete</td>
                                    <td>Boolean</td>
                                    <td></td>
                                    <td>md-discrete</td>
                                    <td>Whether to enable discrete mode.</td>
                                </tr>
                                <tr>
                                    <td>min</td>
                                    <td>Number</td>
                                    <td></td>
                                    <td></td>
                                    <td>The minimum value the user is allowed to pick. Default 0.</td>
                                </tr>
                                <tr>
                                    <td>showValue</td>
                                    <td>Boolean</td>
                                    <td></td>
                                    <td></td>
                                    <td>Display slider value near Label</td>
                                </tr>
                                <tr>
                                    <td>step</td>
                                    <td>Number</td>
                                    <td></td>
                                    <td></td>
                                    <td>The distance between values the user is allowed to pick. Default 1.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </md-content>
                </md-tab>

            </md-tabs>
		</md-content>
	</div>
</section>
<section ng-repeat="element in vm.elements">
    <form name="{{ element.form }}" ng-submit="vm.onSubmit(element.form)">
        <h3 class="md-subhead">
            {{ element.title }}
            <small>
                {{ element.description }}
            </small>
        </h3>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- Example Tab -->
                    <md-tab label="Example">
                        <md-content>
                            <div class="example md-padding">
                                <formly-form model="element.model" fields="element.field" options="element.options">
                                    <md-button type="submit" class="md-primary md-raised">
                                        Submit
                                    </md-button>
                                </formly-form>
                            </div>
                        </md-content>
                    </md-tab>

                    <!-- JS -->
                    <md-tab label="JS" ng-if="element.js"><md-content><pre><code>{{ element.js }}</code></pre></md-content></md-tab>

                </md-tabs>
            </md-content>
        </div>
    </form>
</section>
