simple-chat {
    position: fixed;
    z-index: 2;
    width: 700px;

    top: 64px;
    right: 0;
    bottom: 0;

    background: #fff;

    div {
        &.userschannels {
            width: 250px;
        }
        &.messages {
            width: 450px;
        }
    }
}
