
meteor-todo {
  div {
    &#todolist {
      md-checkbox {
        margin: 0;
      }
      margin-top: 50px;
      p {
        > span {
          font-size: 0.750em;
        }
      }
    }
  }

  div.completed {
    text-decoration: line-through;
    color: silver;
  }
}
