md-slider {
    &.md-meteor-theme {
        .md-thumb:after {
            background-color: #6B63AC;
            border-color: #6B63AC;
        }
        .md-track.md-track-fill {
            background-color: #6B63AC;            
        }
    }
}
