<section>
	<h3 class="md-headline">
		Radio
	</h3>
    <md-button class="md-primary md-link" ng-href="https://material.angularjs.org/1.0.6/demo/input">
		Go to Material Design official page
	</md-button>
	<div>
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom>

                <!-- Parameters Tab -->
                <md-tab label="Parameters">
                  <md-content>
                    <div class='example'>
                        <table class='parameters'>
                            <thead>
                                <tr>
                                    <th>templateOptions</th>
                                    <th>Type</th>
                                    <th>defaultValue</th>
                                    <th>Directive</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
            						<td>label</td>
            						<td>String</td>
            						<td></td>
            						<td></td>
            						<td>label of specified radio</td>
            					</tr>
                                <tr>
                                    <td>mdNoInk</td>
                                    <td>Boolean</td>
                                    <td></td>
                                    <td>md-no-ink</td>
                                    <td>Use of attribute indicates use of ripple ink effects</td>
                                </tr>
                                <tr>
                                    <td>ngChange</td>
                                    <td>Function(value, options, scope)</td>
                                    <td></td>
                                    <td>ngChange</td>
                                    <td>Angular expression to be executed when input changes due to user interaction with the input element.</td>
                                </tr>
                                <tr>
                                    <td>options</td>
                                    <td>Array</td>
                                    <td></td>
                                    <td></td>
                                    <td>Radio options</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </md-content>
                </md-tab>

                <!-- Options Tab -->
                <md-tab label="Options">
                  <md-content>
                    <div class='example'>
                        <table class='parameters'>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>defaultValue</th>
                                    <th>Directive</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>className</td>
                                    <td>String</td>
                                    <td></td>
                                    <td></td>
                                    <td>Attribute class of specified option.</td>
                                </tr>
                                <tr>
                                    <td>disabled</td>
                                    <td>Boolean</td>
                                    <td></td>
                                    <td>ng-disabled</td>
                                    <td>Attribute ng-disabled on specified radio option.</td>
                                </tr>
                                <tr>
                                    <td>name</td>
                                    <td>String</td>
                                    <td></td>
                                    <td></td>
                                    <td>displayed option name.</td>
                                </tr>
                                <tr>
                                    <td>ngDisabled</td>
                                    <td>Boolean</td>
                                    <td></td>
                                    <td>ng-disabled</td>
                                    <td>Attribute ng-disabled on specified radio option.</td>
                                </tr>
                                <tr>
                                    <td>ngValue</td>
                                    <td>String</td>
                                    <td></td>
                                    <td>ng-value</td>
                                    <td>Attribute ng-value of selected option.</td>
                                </tr>
                                <tr>
                                    <td>value</td>
                                    <td>String</td>
                                    <td></td>
                                    <td>ng-value</td>
                                    <td>Attribute ng-value of selected option.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </md-content>
                </md-tab>

            </md-tabs>
		</md-content>
	</div>
</section>
<section ng-repeat="element in vm.elements">
    <form name="{{ element.form }}" ng-submit="vm.onSubmit(element.form)">
        <h3 class="md-subhead">
            {{ element.title }}
            <small>
                {{ element.description }}
            </small>
        </h3>
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>

                    <!-- Example Tab -->
                    <md-tab label="Example">
                        <md-content>
                            <div class='example md-padding'>
                              <formly-form model="element.model" fields="element.field" options="element.options">
                                  <md-button type='submit' class="md-primary md-raised">
                                      Submit
                                  </md-button>
                              </formly-form>
                            </div>
                        </md-content>
                    </md-tab>

                    <!-- JS -->
                    <md-tab label="JS" ng-if="element.js"><md-content><pre><code>{{ element.js }}</code></pre></md-content></md-tab>

                </md-tabs>
            </md-content>
        </div>
  </form>
</section>
